






@keyframes Display{
    0%{
        
    }
}

@keyframes loaderInnerBar{
    0%{
        width: 0%;

    }
    100%{
        width: 100%;

    }
}










/*---------------------------------------LOGO ANIMATION---------------*/
@keyframes logoAnim{
    0%{
        transform: translateY(10vh);
    }
    100%{
        opacity: 1;
    }
}

/*--------------------------------------- my_bio_heading---------------*/

@keyframes my_bio_heading{
    0%{
        font-size: 10rem;
    }
    100%{
        opacity: 1;
    }
}

@keyframes textChangeAnim{
    0%{
        opacity: 0;
        transform: translateY(20vh);
    }
    100%{
        opacity: 1;
        transform: translateX(0vh);
    }
}

/*----------BOX ANIM---------------*/
@keyframes boxAnim{
    0%{
        transform: perspective(800px) rotateY(-90deg); opacity: 0;
        transition: .5s ease;
    }
    100%{
        transform: rotateY(0deg); opacity: 1;
        transition: .5s ease;
    }
}

/*----------GALLERY HEADING---------------*/

@keyframes gallery-heading{
    0%{
        transform: translateY(20px);opacity: 0;
    }
    100%{
        transform: translateY(0);opacity: 1;
    }
}


/*--------------------------------------- myPic---------------*/

@keyframes myPic{
    0%{
        transform: translateY(-20vh);
    }
    100%{
        opacity: 1;
    }
}


/*--------------- Home Background Circle Animation ------*/
@keyframes animation{
    0%{
        width: 30px;
        height: 30px;
    }
    50%{
        width: 0px;
        height: 0px;
    }
    100%{
        width: 30px;
        height: 30px;
    }
}

/*--------------- I-Letter Animation ------*/
@keyframes iLetter{
    0%{
        height: 2.8vh;
    }
    50%{
        height: 0.0vh;
    }
    100%{
        height: 2.8vh;
    }
}

/*-------------------------- Components Animation--------------*/
@keyframes service{
    0%{
        transform: translateX(-150px);opacity: 0;
    }
    100%{
        transform: translateX(0);opacity: 1;
    }
}
@keyframes portfolio{
    0%{
        font-size: 7rem;opacity: 0;
    }
    100%{
        font-size: 0.9rem;opacity: 1;
    }
}
@keyframes contact{
    0%{
        transform: translateX(150px);opacity: 0;
    }
    100%{
        transform: translateX(0);opacity: 1;
    }
}
/* ---------------------------------------Mouse Ball Anim --------------------*/
@keyframes mouseBallAnim{
    0%{
        transform: translateY(10px);opacity: 1;
    }
    60%{
        transform: translateY(30px);opacity: 1;
    }
    100%{
        transform: translateY(30px);opacity: 0;
    }
}

/* ----------------------------------------SKILLS BAR ANIMATIOn----------------*/
@keyframes html_bar{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes css_bar{
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
}
@keyframes js_bar{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}

/*-------------------------------------loader bar  -----------------------*/

@keyframes barColorChange{
    0%{
        background-color: #636e72;
    }
    100%{
        background-color: #E9C46A;
        transition: 0.6s;
    }
}

/*----------------------------------- About Image------------*/

@keyframes aboutImg{
    0%{
        opacity: 0;
    }
    100%{
        transform: translateX(2rem);
        opacity: 1;
    }
}



/*---------------About Text 1 and 2--------------------*/

@keyframes aboutText1{
    0%{
        opacity: 0;
    }
    100%{
        transform: translateY(0vh);
        opacity:1;
    }
}

@keyframes aboutText2{
    0%{
    }
    100%{
        transform: translateY(0vh);
        opacity: 1;
    }
}
/*------------------about List-----------------*/
@keyframes aboutList{
    0%{
        opacity: 0;
    }
    100%{
        transform: translateY(0vh);
        opacity: 1;
    }
}

/*--------------card 1 ,2 and 3---------------------*/
@keyframes card1{
    0%{}
    100%{
        opacity: 1;
        transform: translateX(0rem);
    }
}
@keyframes card2{
    0%{}
    100%{
        opacity: 1;
        transform: translateX(0rem);
    }
}

@keyframes card3{
    0%{}
    100%{
        opacity: 1;
        transform: translateX(0rem);
    }
}



/*------------ Contact Text Block Animation-----------------------*/
@keyframes mainblock{
    0%{
        width: 0%;
        left: 0%;
    }
    50%{
        width: 70%;
        left:0%;
    }
    100%{
        width: 0%;
        left: 70%;
    }
}
@keyframes mainblockResp900{
    0%{
        width: 0%;
        left: 0%;
    }
    50%{
        width: 52%;
        left:0%;
    }
    100%{
        width: 0%;
        left: 52%;
    }
}

@keyframes mainblockResp700{
    0%{
        width: 0%;
        left: 0%;
    }
    50%{
        width: 60%;
        left:0%;
    }
    100%{
        width: 0%;
        left: 60%;
    }
}

@keyframes mainblockResp650{
    0%{
        width: 0%;
        left: 0%;
    }
    50%{
        width: 60%;
        left:0%;
    }
    100%{
        width: 0%;
        left: 60%;
    }
}
@keyframes mainblockResp600{
    0%{
        width: 0%;
        left: 0%;
    }
    50%{
        width: 70%;
        left:0%;
    }
    100%{
        width: 0%;
        left: 70%;
    }
}
@keyframes mainblockResp550{
    0%{
        width: 0%;
        left: 0%;
    }
    50%{
        width: 75%;
        left:0%;
    }
    100%{
        width: 0%;
        left: 75%;
    }
}

@keyframes mainblockResp500{
    0%{
        width: 0%;
        left: 0%;
    }
    50%{
        width: 80%;
        left:0%;
    }
    100%{
        width: 0%;
        left: 80%;
    }
}

@keyframes mainblockResp450{
    0%{
        width: 0%;
        left: 0%;
    }
    50%{
        width: 88%;
        left:0%;
    }
    100%{
        width: 0%;
        left: 88%;
    }
}

@keyframes mainblockResp{
    0%{
        width: 0%;
        left: 0%;
    }
    50%{
        width: 97.5%;
        left:0%;
    }
    100%{
        width: 0%;
        left: 97.5%;
    }
}

/*---------------Email and Phone Text Animation--------------------*/
@keyframes email{
    0%{}
    100%{
        transform: translateY(0vh);
        opacity: 1;
    }
}

@keyframes phone{
    0%{}
    100%{
        transform: translateY(0vh);
        opacity: 1;
    }
}

/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/
/*-----------------------------------*/