@media(max-height:720px){
    .blockDiv{transform: translateY(8vh);}
    .Block{height: 7vh;}
    .Contact{
        min-height: 120vh;
    }   
    .lightBox img{
        height: 90vh;
    }
}

@media(max-width:900px){

    .loader{
        position: relative;
        top:-10vh;
    }

    .myPic{
        position: relative;
        margin-left: 41.0%;
    }
    .mouse{
        margin-left: 45.75%;
    }
    .About{
        display: block;
    }

    .aboutImage{
        width: 100%;
    }
    .aboutImg{
        width: 50%;
        padding-left: 20%;
        opacity: 0;
    }
    .frontEndHeading{
        opacity: 0;
        transform: translateY(10vh);
        transition: 0.5s ease;
        text-align: center;
    }
    .frontEndHeading_appear{
        opacity: 1;
        transform: translateY(0vh);
    }
    .aboutText1,.aboutText2{
        text-align: center;
        padding-right: 0%;
        padding:0 5%;
    }

    .aboutText1{transform: translateY(5vh);opacity: 0;}
    .aboutText2{transform: translateY(10vh);opacity: 0;}

    .aboutList{
        display: block;
        text-align: center;
    }

    .aboutFirstList{transform: translateY(10vh);opacity: 0;}
    .aboutSecondList{transform: translateY(5vh);opacity: 0;}
    .ExploreMove{display: flex;justify-content: center;}
    .exploreMore{
        font-size: 1.0rem;
        width: 15%;
    }
    .services{
        overflow: hidden;
    }
    .services p{
        padding: 0 1.5rem;
    }
    .serviceCard{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: 5vh 10% 5vh;
    }

    
    .portfolio-gallery{
        display: flex;
    }
    .portfolio-gallery .items{
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px );
    margin-bottom: 10px;;
    }
    .lightBox img{
        width: 100%;
        height: auto;
        display: block;
        animation: boxAnim 0.5s ease;
    }

    .Contact{min-height: 115vh;}
    .contactMainHeading{padding: 2.5rem 0 0;}
    .contactContent{
        display: block;
    }

    .contactImg{
        margin-left: 30%;
        padding-top: 0vh;
        width: 40%;
    }

    .Email{transform: translateY(10vh);opacity: 0;}

    .Phone{transform: translateY(5vh);opacity: 0;}

    .contactSocial{transform: translateY(10vh);}
    .copyRight{margin-bottom: 10vh;transform: translateY(8vh);}
    .blockDiv{transform: translateY(6vh);}
    .Block{height: 6vh;}
    .Block_appear{animation: mainblockResp900 1s forwards;}

    



    
    .pre_loader{
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .preLoader{

        transform: translate(0%,0vh);
    }
    svg{
        transform: translate(15px,-8vh);
    }

    .loader {

        transform: translateY(-8vh);
    }

}

@media(max-width:800px){
    .donation{
        width: 100%;
        font-family: 'PT Sans', sans-serif;
        background-color: rgba(253, 203, 110,0.7);
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .donaText{
        display: none;
    }
    .donaBtn{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .paypalLogo{
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(1.2vh);
    }
}

@media(max-width:700px){
    .Block_appear{animation: mainblockResp700 1s forwards;}
}

@media(max-width:650px){
    .Block_appear{animation: mainblockResp650 1s forwards;}
}

@media(max-width:600px){
    .myPic{
        position: relative;
        margin-left: 38.0%;
    }
    .serviceCard{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: 5vh 20% 5vh;
    }

    .portfolio-gallery .items{
        flex: 0 0 calc(80%);
        max-width: calc(80% );
        margin: auto;
        margin-bottom: 10px;
        }

        .Block_appear{animation: mainblockResp600 1s forwards;}
}

@media(max-width:550px){
    .Block_appear{animation: mainblockResp550 1s forwards;}
}

@media(max-width:500px){
    .myPic{
        position: relative;
        margin-left: 35.0%;
    }
    .Block_appear{animation: mainblockResp500 1s forwards;}

    .serviceCard{
        margin: 5vh 8% 5vh;
    }
}







@media(max-width:450px){
    .Block_appear{animation: mainblockResp450 1s forwards;}
}






@media(max-width:400px){
    .myPic{
        position: relative;
        margin-left: 30.0%;
    }
    .mouse{
        margin-left: 45.75%;
    }
    .About{
        display: block;
    }


    .aboutText1,.aboutText2{
        text-align: center;
        padding-right: 0%;
        padding:0 5%;
    }


    .aboutList{
        display: block;
        text-align: center;
    }

    .ExploreMove{display: flex;justify-content: center;}
    .exploreMore{
        font-size: 1.0rem;
        width: 30%;
    }
    .services p{
        padding: 0 1.5rem;
    }

    .portfolio-gallery{
        display: flex;
        flex-direction: column;
    }
    .portfolio-gallery .items{
    flex: 0 0 calc(100%);
    max-width: calc(100%);
    margin: 0 1rem 20px;
    }
    .lightBox img{
        width: 100%;
        height: auto;
        display: block;
        animation: boxAnim 0.5s ease;
    }
    .contactContent{
        display: block;

    }
    .contactText{padding: 0 0.5rem;}
    .contactText p{
        text-align: center;
    }
    .contactImg{
        width: 60%;
        margin-left: 20%;
    }
    .Email{transform: translateY(0vh);opacity: 1;text-align: center;}
    .Email_appear{animation: none;}
    .Phone{transform: translateY(0vh);opacity: 1;text-align: center;}
    .Phone_appear{animation: none;}
    .contactText h4{
        text-align: center;
    }
    .myNum{transform: translateX(-18px);}
    .contactSocial{transform: translateY(4vh);}
    .copyRight{margin-bottom: 4vh;transform: translateY(4vh);}
    .blockDiv{transform: translateY(6vh);}
    .Block{height: 6vh;}
    .Block_appear{animation: mainblockResp 1s forwards;}
    

}
