@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');





html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
}
body{
    
}
/*------------------------------DONATION------------------------------*/
.donation{
    width: 100%;
    font-family: 'PT Sans', sans-serif;
    background-color: rgba(253, 203, 110,0.7);
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.donaText{
    display: flex;
    justify-content: center;
    align-items: center;
}
.donaBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.paypalLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(1.2vh);
}
.donaBtnSize{
}

/*----------------------------------START LOADER--------------------------*/
.pre_loader{
    min-height: 100vh;
    background-color: #ecf0f1;
    overflow: hidden;  
    width: 100%;
}

.loader{
    width: 70px;
    height: 70px;
    margin: 50px auto 0;
    position: relative;
    top:35vh;
    animation: animeA steps(4) infinite;
    animation-duration: 2s;
}
.loader:before,
.loader:after{
    content: "";
    background: #2d3436;
    width: 100%;
    height: 50%;
    transform-origin: 50% 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: animeB 2s linear infinite;
    clip-path: polygon(50% 0,100% 100%,0% 100%);
}
.loader:after{
    transform: rotate(180deg);
    animation: animeC 2s linear infinite;
    clip-path: polygon(50% 0,100% 100%,0% 100%);
}
@keyframes animeA{
    0%{ transform: rotate(0); }
    100%{ transform: rotate(-360deg); }
}
@keyframes animeB{
    0%, 25%, 50%, 75%, 100%{
        opacity: 1;
        transform: translateZ(0) rotateX(0deg);
    }
    12.5%, 62.5%{
        opacity: 1;
        transform: translateZ(1px) rotateX(-180deg);
    }
    37.5%, 87.5% {
        opacity: 0;
        transform: translateZ(0) rotateX(0deg);
    }
}
@keyframes animeC{
    0%, 25%, 50%, 75%, 100%{
        opacity: 1;
        transform: translateZ(0) rotateZ(180deg) rotateX(0deg);
    }
    12.5%, 62.5%{
        opacity: 0;
        transform: translateZ(0) rotateZ(180deg) rotateX(0deg);
    }
    37.5%, 87.5%{
        opacity: 1;
        transform: translateZ(1px) rotateZ(180deg) rotateX(-180deg);
    }
}

.loaderTitle{
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-family: 'Sawarabi Gothic', sans-serif;
    font-size: 0.6rem;
    color: #636e72;
    text-decoration: underline;
}

/*---------------------------------LOADER END------------------*/

.mainPage{
    display: none;
    overflow: hidden;

}



#fixedTop{
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    cursor: pointer;
    width: 30px;
    height: 65px;
    z-index: 990;
    display: none;
    text-align: center;
    

}
#fixedTop i {
    font-size: 30px;
    color: #2d3436;

}
#fixedTop p{
    font-size: 10px;
    transform: rotate(90deg);
    padding-left: 10px;
    font-family: sans-serif;
}

#fixedTop:hover p{
    color:#E9C46A ;
    transition: 0.6s ease;
}




.HomeImage{
    background-image: url(public/home_image.jpg);
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
    position: relative;

}

.Home{
    min-height: 100vh;
    background-color: rgba(23, 33, 33,0.8);
    position: relative;
}

.nav{
    float: left;
    width: 99.50%;
}
.nav h1{
    font-family: 'Arimo', sans-serif;
    font-size: 2.0rem;
    padding: 7vh 0 0 4rem;
    text-transform: uppercase;
    color: #ecf0f1;
}

.i_Letter{
    display: inline-block;
    width: 5px;
    height: 2.8vh;
    background-color: #E9C46A;
    animation: iLetter 2s infinite;
}
/* ---------------------------------------------------- Magic Toggle --------------------*/
.menu-btn{
	float: right;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	cursor: pointer;
    transition: all .5s ease-in-out;
    transform: translate(-40px,8vh);
}


.menu-btn__burger{
	width: 30px;
	height: 4px;
	background-color: #ecf0f1;
	transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after{
	content: '';
	position: absolute;
	width: 30px;
	height: 4px;
	background-color: #2A9D8F;
	transition: all .5s ease-in-out;
}


.menu-btn__burger::before{
	transform: translate(10px,-10px);
    width: 20px;
    background-color: #2A9D8F;
}
.menu-btn__burger::after{
	transform: translateY(10px);
}

/* ANIMATION */

.menu-btn.open .menu-btn__burger {
	transform: translateX(-50px);
	background:transparent;
}
.menu-btn.open .menu-btn__burger::before{
	transform: rotate(45deg) translate(35px, -35px);
	width: 30px;
}
.menu-btn.open .menu-btn__burger::after{
	transform: rotate(-45deg) translate(35px, 35px);
}

/* ----------------------------------------------- NAv Components ------------*/

.navComponents{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    position: absolute;
    left: 0;
    top: 15vh;
    width: 100%;
    text-align: center;
    display: none;
    margin-top: 4vh;
}
.navComponents a{
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 0.9rem;
    text-decoration: none;
    transition: 0.5s;
}
.navAfter::after{
    content: '';
    width: 20px;
    height: 2px;
    position: relative;
    left: 42%;
    top: 0.5vh;
    display: flex;
    background-color: white;
}
.navComponents a:hover{
    color: #E9C46A;
    transition: 0.5s;
}


#checkBox:checked + #resNav{
    display: grid;
}
#checkBox{
    display: none;
}
/* ---------------------------------- Components Animation ------------*/
.service{
    animation: service 0.5s ease;
}
.portfolio{
    animation: portfolio 0.5s ease;
}
.contact{
    animation: contact 0.5s ease;
}




/*------------------------------------------------ Home Background Circle Animation ------*/
.bg_Anim{
    width: 30px;
    height: 30px;
    background-color: rgba(38, 70, 83,0.5);
    border-radius: 50%;
    animation: animation 3s infinite;
    box-shadow: 0px 0px 3px rgb(38, 70, 83);
    opacity: 0.5;
}
.one{
    position: absolute;
    top: 20%;
    left: 30%;
}
.two{
    position: absolute;
    top: 30%;
    left: 85%;
    background-color: rgba(42, 157, 143,0.5);
    animation: animation 3s 1s infinite;
}
.three{
    position: absolute;
    top: 80%;
    left: 10%;
    animation: animation 3s 2.0s infinite;
    background-color: rgba(244, 162, 97,0.5);
}
.four{
    position: absolute;
    top: 90%;
    left: 70%;
    animation: animation 3s 3.0s infinite;
    background-color: rgba(231, 111, 81,0.5);
}


/*------------------------------------------------------ My_Bio ----------------*/
.myPic{
    position: relative;
    margin-left: 43.5%;
    margin-top: 15vh;
    border-radius: 50%;
    border: 4px solid #ecf0f1;
    opacity: 0;
    animation: myPic 0.5s 0.5s ease-in forwards;


}


.my_bio h1{
    text-align: center;
    font-family:sans-serif;
    font-size: 3.7rem;
    color: #dfe6e9;
    padding: 20px 0;
    letter-spacing: 2px;
    opacity: 0;
    animation: my_bio_heading 0.5s 1s ease-in forwards;
    

}
.textChangeAnim{
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    opacity: 0;
    font-size: 1.2rem;
    animation: textChangeAnim 0.5s 1.75s ease-in  forwards;  

}
.textChangeAnim span{
    color: #E9C46A;
}

/* --------------------------------------------landing Page Social--------------------*/
.landingPageSocial{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3vh;
    opacity: 0;
    animation: my_bio_heading 0.5s 1s ease-in forwards;
    
}
.landingPageSocial a{
    color: #dfe6e9 ;
}
.facebook,.twitter,.linkedin,.google,.github{
    width: 30px;
    height: 30px;
    border: 1px solid rgba(236, 240, 241,0.2);
    margin: 0 1%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.socialHover:hover{
    background-color: #E9C46A;
    cursor: pointer;
    transition: 0.7s ease;
}
.socialHover:hover  a{
    color: #172121 ;
    transition: 0.7s ease;
}

.mouseHover:hover{
    cursor: pointer;
}
.mouse{
    width: 32px;
    height: 58px;
    border-radius: 50px;
    border: 3px solid white;
    margin-top: 5vh;
    margin-left: 48.75%;
    display: flex;
    justify-content: center;
    opacity: 0;
    animation: my_bio_heading 0.5s 1s ease-in forwards;
}
.mouseBall{
    width: 8px;
    height: 8px;
    transform: translateY(15px);
    background-color: #dfe6e9;
    border-radius: 50%;
    animation: mouseBallAnim  1.5s infinite ease ;
}


/* -------------------------------------- ABOUT --------------------------*/
.About{
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    min-height: 10vh;
    margin: 5vh 0;

}
.aboutImage{

}
.aboutImg{
    transform: translateX(-25rem);

}
.aboutImg_appear{
    animation:  aboutImg 0.5s ease-in forwards;
}


.aboutContent h1{

    text-transform: uppercase;
    font-family: 'Noto Sans', sans-serif;
    color: #2d3436;
    font-size: 1.9rem;
    margin: 5vh 0;

}
.frontEndHeading{
    opacity: 0;
    transform: translateY(10vh);
    transition: 0.5s ease;
}
.frontEndHeading_appear{
    opacity: 1;
    transform: translateY(0vh);
    transition: 0.5s ease;
}
.aboutText1,.aboutText2{
    font-family: sans-serif;
    font-family: 'Noto Sans', sans-serif;
    color: rgba(45, 52, 54,0.9);
    font-size: 0.95rem;
    padding-right: 10%;
    line-height: 25px;
    word-spacing: 3px;

}
.aboutText1{transform: translateY(5vh);opacity: 0;}
.aboutText2{transform: translateY(10vh);opacity: 0;}
.aboutText1_appear{animation:aboutText1 0.5s 0.5s ease forwards;}
.aboutText2_appear{animation:aboutText2 0.5s 0.5s ease forwards;}
/*---------ABOUT LIST -----------*/
.aboutList{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    

}
.aboutList li{
    list-style-type: none;
    font-family: 'Jaldi', sans-serif;
    font-size: 1.1rem;
    color: #636e72;
}
.aboutList li span {
    color: rgba(45, 52, 54,0.8);
    font-weight: bold;
    font-size: 1.3rem;
}

.aboutFirstList,.aboutSecondList{transform: translateY(5vh);opacity: 0;}
.aboutList_appear{animation: aboutList 0.5s 1s ease forwards;}


.ExploreMove{
    color: #2d3436;
    text-decoration: none;
}
.exploreMore{
    font-family: 'Jaldi', sans-serif;
    color: #2d3436;
    font-size: 1.1rem;
    width: 18%;
    margin-top:4vh;
    padding:10px 15px;
    background-color: #E9C46A;
    display: flex;
    flex-direction: row;
}
.exploreArrow{
    margin: 7px 0 0 15px;
    transition: 0.4s;

}
.exploreMore:hover{
    cursor: pointer;
    box-shadow: 0 0 7px #E9C46A;
    transition: 0.3s;
}
.exploreMore:hover .exploreArrow{
    transform: rotate(90deg);
    transition: 0.4s;
    margin-top: 5px;
}
/* --------------------------------SERVICES ----------------------------*/


.services{
    min-height: 90vh;
    background-color: rgba(236, 240, 241,0.5);
}
.services h1{

}
.services p{
    font-family:'Sawarabi Gothic', sans-serif;
    color: #636e72;
    text-align: center;
}

.displayArea{
}   
.serviceCard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:2rem ;
    font-family: 'Mukta', sans-serif;
    transition: 0.5s ease;
    margin: 5vh 10% 5vh;
}


.card{
    height: 25vh;
    background-color: white;
    overflow: hidden;
    display: flex;flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 13px rgba(178, 190, 195,0.5);
    transition: 0.6s ease;
}
/*
.card{
    height: 25vh;
    background-color: white;
    display: flex;flex-direction: column;
    flex: 200 0 0;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 15px rgba(178, 190, 195,0.5);
    overflow: hidden;
    transition: 0.6s ease;
    margin:0 20px;
    
}*/
.card:hover{
    cursor: pointer;
    box-shadow: 0 2px 18px rgba(178, 190, 195,0.9);
    transition: 0.6s ease;

}

.card1,.card6{transform: translateX(25rem);opacity: 0;}
.card2,.card5{transform: translateX(-15rem);opacity: 0;}
.card3,.card4{transform: translateX(20rem);opacity: 0;}
.card1_appear{animation: card1 0.3s ease forwards;}
.card2_appear{animation: card2 0.3s 0.3s ease forwards;}
.card3_appear{animation: card3 0.3s 0.6s ease forwards;}
.card4_appear{animation: card3 0.3s 0.6s ease forwards;}
.card5_appear{animation: card2 0.3s 0.6s ease forwards;}
.card6_appear{animation: card1 0.3s 0.6s ease forwards;}


.serviceCard .serviceImg1,.serviceCard .serviceImg2,.serviceCard .serviceImg3{
    margin-top: 7vh;
    transition: 0.6s ease;
}


.serviceCard h2{
    margin: 3vh 0 0vh;
    transition: 0.6s ease;
}

.serviceCardPara{
    transform: translateY(10vh);
    transition: 0.6s ease;
    margin: 0 10px;
}

.card1:hover .serviceImg1,.card2:hover .serviceImg2,.card3:hover .serviceImg3,
.card4:hover .serviceImg1,.card5:hover .serviceImg2,.card6:hover .serviceImg3{
    transform: translateY(-15vh);
    transition: 0.5s ease;
}
.card:hover .serviceCardHeading{
    transform: translateY(-10vh);
    transition: 0.5s ease;
}
.card:hover .serviceCardPara{
    transform: translateY(-7vh);
    transition: 0.5s ease;
}

.yellowColor{
    color: #E9C46A;
}

/* ---------------------------------------------MainHeadingStyling-------------------------*/


.serviceMainHeading{
    font-family: 'Sawarabi Gothic', sans-serif;
    padding: 5rem 0 2rem;
    text-transform:uppercase;
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}




/* -------------------------------------------------------SKILLS SECTION------------*/
.skills{
    min-height: 70vh;
    background-image: url(public/skills_background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.skills_background{
    height: 70vh;
    background-color: rgba(45, 52, 54,0.9);
    position: relative;
}


.skills h1{
    text-align: center;
    font-family: 'Sawarabi Gothic', sans-serif;
    padding: 3rem 0 1rem;
    text-transform:uppercase;
    font-size: 2.5rem;
    color: #ecf0f1;
}
.skills_bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-family: 'Sawarabi Gothic', sans-serif;
    margin:10%;
    margin-top: 5vh;
}
.skill_name{
    margin:2vh 1rem;
}
.skill_Bar{
    height: 20px;
    background-color: #bdc3c7;
    border-radius: 10px 10px 10px 10px;
}
.skill-per{
    height: 20px;
    background-color: #E9C46A;
    width: 0%;
    position: relative;
    border-radius: 10px 0px 0px 10px;
}
.skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 4px;
    background-color: #ecf0f1;
    font-size: 12px;
    color: #2d3436;
    border-radius: 4px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
    font-weight: bolder;
}
.skill-per::after{
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #ecf0f1;
    top: -17px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
}

.html_bar_appear{width: 90%; animation: html_bar 1.0s ease;}
.css_bar_appear{width: 75%; animation: css_bar 1s ease;}
.js_bar_appear{ width: 60%; animation: js_bar 0.8s ease;}


/*--------------------------------------------- PORTFOLIO -------------------------*/

.Portfolio{
    min-height: 80vh;
}

.portfolioMainHeading{
    font-family: 'Sawarabi Gothic', sans-serif;
    padding: 5rem 0 0rem;
    text-transform:uppercase;
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}



.row{
    margin:5% 5%; 
}

.portfolio-gallery{
    max-width: 100%;
    flex: 0 0 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-gallery .items{
    background-color: #ecf0f1;
    flex: 0 0 calc(33.33% - 10px);
    max-width: calc(33.33% - 10px);
    margin-bottom: 10px;
    position: relative;
}

.portfolio-gallery .items img{
    width: 100%;
    height: 30vh;
    display: block;
}

.portfolio-gallery .items .overLay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 900;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.7s ease;
}

.portfolio-gallery .items:hover .overLay{
    opacity: 1;
}

.portfolio-gallery .items .overLay .fa{
    height: 40px;
    width: 40px;
    background-color: #E9C46A;
    color: white;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.portfolio-gallery .items:hover .overLay .fa{
    -webkit-animation: gallery-plus 0.8s ease;
    animation: gallery-plus 0.8s ease;
}
@keyframes gallery-plus{
    0%{
        transform: translateY(-20px);opacity: 0;
    }
    100%{
        transform: translateY(0);opacity:1;
    }
}

.portfolio-gallery .items .overLay h4{
    color: white;
    font-size: 22px;
    font-family: sans-serif;
    margin-top: 2vh;

}
.portfolio-gallery .items:hover .overLay h4{
    -webkit-animation: gallery-heading 0.8s ease;
    animation: gallery-heading 0.8s ease;
}



.lightBox{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 951;
    justify-content: center;
    align-items: center;
    
}


.lightBox.show{
    display: flex;
    
}
.lightBox.hide{
    display: none;

}



.lightBox .close-lightBox{
    height: 40px;
    width: 40px;
    background-color:  #E9C46A ;
    text-align: center;
    line-height: 40px; 
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 902;
    color: #ffffff;
}

.lightBox img{
    width: 90%;
    height: auto;
    display: block;
    animation: boxAnim 0.5s ease;
}


.Contact{
    margin-top: 10vh;
    min-height: 110vh;
    background-color: rgba(38, 70, 83,0.025);
}

.contactMainHeading{
    font-family: 'Sawarabi Gothic', sans-serif;
    padding: 5rem 0 2rem;
    text-transform:uppercase;
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}



.contactContent{
    margin: 5vh 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 50vh;
}
.contactText{
    padding-left: 20%;
}

.contactText h1{
    font-family: 'Karla', sans-serif;
    font-size: 2.4rem;
}

.contactText p{
    color: #636e72;
    font-family: 'Karla', sans-serif;
    padding-top: 3vh;
    padding-right: 2rem;
    line-height: 25px;
}
.contactText h4{
    font-family: 'Karla', sans-serif;
    padding-top: 5px;
    color: #2d3436;
}
.contactImg{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10vh;
}

.contactSocial{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25vh;
}
.contactSocial a{
    margin: 0 2rem;
    padding: 5px;
    font-size: 1.5rem;
    text-decoration: none;
    color: #2d3436;
}
.contactSocial a:hover{
    color: #E9C46A;
    transition: 0.5s;
}

.copyRight{
    font-family: 'Karla', sans-serif;
    text-align: center;
    margin-top: 3vh;
}

.Email{transform: translateY(5vh);opacity: 0;}
.Email_appear{animation: email 0.5s ease forwards;}
.Phone{transform: translateY(5vh);opacity: 0;}
.Phone_appear{animation: phone 0.5s ease forwards;}


.blockDiv{
    transform: translateY(5vh);
}

.Block{
    width: 0%;
    height: 5vh;
    background-color: #E9C46A;
    display: block;
    position: relative;

}
.Block_appear{
    animation: mainblock 01s forwards;
}

